body {
    margin: 40px 0; }

.heading:after {
    content: "";
    display: block;
    clear: both; }

table tr td{
    border: solid #8c8c8c;
    color: #f9f6f2;
    background: #f9f6f2;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.tile-0{
    color: #f9f6f2;
    background: #f9f6f2;
}
.tile-2{
    color: #776e65;
    background: #eee4da;
}

.tile-4{
    color: #776e65;
    background: #ede0c8;
}

.tile-8{
    color: #f9f6f2;
    background: #f2b179;
}

.tile-16{
    color: #f9f6f2;
    background: #f59563;
}

.tile-32{
    color: #f9f6f2;
    background: #f67c5f;
}

.tile-64{
    color: #f9f6f2;
    background: #f65e3b;
}

.tile-128{
    color: #f9f6f2;
    background: #edcf72;
}
.tile-256{
    color: #f9f6f2;
    background: #edcc61;
}
.tile-512{
    color: #f9f6f2;
    background: #edc850;
}
.tile-1024{
    color: #f9f6f2;
    background: #edc53f;
}
.tile-2048{
    color: #f9f6f2;
    background: #edc22e;
}